services:
  app:
    build: .
    ports:
      - "8080:3000"
    environment:
      - DB_HOST=db
      - DB_USER=user_admin
      - DB_PASSWORD=password123
      - DB_NAME=todo_db
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=user_admin
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=todo_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: